@charset "UTF-8";
.checkbox-label,
.drop-down-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drop-down-list {
  list-style: none;
}

.wrapper {
  width: 300px;
  /* margin: 100px auto; */
}

.drop-down {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 20px auto;
  color: #666;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}
.drop-down .drop-arrow::after {
  position: absolute;
  content: "";
  top: 0;
  right: 10px;
  color: #8d9097;
  font-family: "FontAwesome";
}
.drop-down .drop-arrow.arrow-up::after {
  content: "";
  top: 3px;
}
.drop-down-button {
  height: 100%;
  padding-left: 10px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
}
.drop-down-title {
  display: inline-block;
  max-width: calc(300px - 50px);
}
.drop-down-list {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  width: 100%;
  height: 200px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  cursor: pointer;
  overflow-y: auto;
  z-index: 1; /*to make it in front*/
}

.drop > ul {
  margin: 0;
  padding: 10px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #ffffff;
}

.drop-down-list > li {
  padding-left: 5px;
}

.drop-down-list > li:hover {
  background-color: rgb(150, 150, 150);
}
.drop-down:hover .drop-down-button {
  border: 1px solid #1a237e;
}

.checkbox {
  display: none;
}
.checkbox-label {
  display: inline-block;
  max-width: calc(300px - 40px);
  line-height: 22px;
  vertical-align: inherit;
}
.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle;
}
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 -5px 6px rgba(0, 0, 0, 0.06);
}
.checkbox:checked + label:before {
  border: 1px solid #1a237e;
  background-color: #1a237e;
}
.checkbox:not(:checked) + label:after,
.checkbox:checked + label:after {
  position: absolute;
  content: "";
  top: 0;
  left: 5px;
  font-family: "FontAwesome";
  font-size: 12px;
  transition: all 0.2s;
}
.checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.checkbox:checked + label:after {
  color: #fff;
  opacity: 1;
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

/* 